<ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
        <li class="active"><a href="#">Home</a></li>
        <li><%= link_to "Home", static_index_path %></li>
        <li><%= link_to "Agregar personal", new_personal_path %></li>
        <li><%= link_to "Asignar carga horaria", new_horario_path %></li>
 </ul>